.title{
    background-color:rgba(0,0,0,0.5);
    color:white;
    text-align:center;
    padding: 15px;
}
.model{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.modelImg{
    background-image: url('../../public/glassesImage/model.jpg');
    width: 250px;
    height: 300px;
    background-size: cover;
    position: relative;
}
.description{
    background-color: rgba(247, 134, 43, 0.575);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
