button{
    width: 100%;
    height: 100%;
}
td{
    text-align: center;
}
table{
    height: 400px;
}
.background{
    height:100vh;
    background-repeat:no-repeat;
    background-size: cover;
}
.Header{
    background-color:#212121;
    color:white;
    padding:15px
}
.content{
    width:30%;
    height:80vh;
    background:rgba(41,41,41,0.95);
    margin:auto
}
input{
    font-size:30px;
    outline:none;
    width:100%;
    text-align:right;
    padding:10px;
    background:rgba(41,41,41,0.95);
    color:white;
}
input::placeholder{
    color: white;
}